/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

/* Variables */
:root {
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

/* Generals */

html,
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  color: var(--dark-blue);
  background: var(--light-grayish-blue);
}

article {
  border-radius: 20px;
  background: white;
  overflow: hidden;
  width: 87vw;
  -webkit-box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.44);
}

.title {
  color: var(--dark-grayish-blue);
  font-weight: 700;
}

.article__title {
  display: block;
  font-size: 1.2rem;
  padding: 2.25em 2em 0.75em 2em;
}

/* .article__body {
  padding: 2.25em 2em 1.25em 2em;
} */

.article__body p {
  margin-bottom: 2em;
  padding: 0 2em;
}

#article__author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em 1.25em 2em;
}

#article__author .avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 1.5em;
}

.author-left {
  display: flex;
  align-items: center;
}

.author span {
  display: block;
}

.share-btn {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-lighter {
  background: var(--light-grayish-blue);
}

.btn-darker .share-icon {
  background: var(--light-grayish-blue);
}

#socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-grayish-blue);
  height: 60px;
  padding: 2em;
  display: none;
}

.social-left {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.social-left span {
  text-transform: uppercase;
  color: var(--dark-blue);
  letter-spacing: 0.5em;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92px;
}

.links img {
  width: 20px;
  height: 20px;
}

.links img:nth-child(2) {
  height: 16.25px;
}

#socials .share-btn {
  background: var(--dark-blue);
}

.share-btn .share-icon {
  fill: var(--light-grayish-blue);
}

#links-bubble {
  display: none;
}

/* STYLING FOR MEDIUM AND LARGE SCREENS */
@media (min-width: 768px) {
  article {
    max-width: 65vw;
    display: flex;
  }

  article .article__illustration {
    width: 40%;
  }

  .article__body {
    width: 60%;
  }

  #article__author {
    padding-bottom: 2em;
  }

  #links-bubble {
    background: var(--dark-grayish-blue);
    border-radius: 20px;
    width: 248px;
    height: 57px;
    position: absolute;
    padding: 1.3em;
    transform: translate(-4px, -66px);
    display: flex;
    visibility: hidden;
  }

  .links span {
    text-transform: uppercase;
    color: var(--dark-blue);
    letter-spacing: 0.5em;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--dark-grayish-blue);
    position: absolute;
    bottom: -15px;
    left: 43%;
    position: absolute;
  }
}
